/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
.DS_Store
/.idea/
/web/*
!/web/.htaccess
!/web/app.php
!/web/app_dev.php
!/web/config.php
!/web/favicon.ico
!/web/robots.txt
!/web/package.json
!/web/tsconfig.json
!/web/systemjs.config.js
!/web/typings.json
!/web/assets/
!/web/app
/web/app/**/*.js
/web/app/**/*.map
!/web/app/*.ts
!/web/app/*.html
phpunit.phar
*.php~
npm-debug.log